<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>publish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">

    <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
         th:text="${err}" th:if="${err != null}">
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Publish</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" class="form-control" name="description" cols="30"
                              rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">Add tag:</label>
                    <input type="text" class="form-control" name="tag" id="tag" placeholder="add tag">
                </div>
                <button type="submit" class="btn btn-success btn-publish">Submit</button>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>guide of publish</h3>
            我是小妖怪
            逍遥又自在
            杀人不眨眼
            吃人不放盐
        </div>
    </div>
</div>


</body>
</html>