<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laodu.community.mapper.QuestionMapper">

<!--    &lt;!&ndash; 映射表字段与实体类属性 &ndash;&gt;-->
    <resultMap id="BaseResultMap" type="com.laodu.community.mapper">
        <id column="id" jdbcType="INT" property="id"/>
        <id column="title" jdbcType="VARCHAR" property="title"/>
        <id column="description" jdbcType="VARCHAR" property="description"/>
        <id column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <id column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <id column="creator" jdbcType="INT" property="creator"/>
        <id column="comment_count" jdbcType="INT" property="commentCount"/>
        <id column="view_count" jdbcType="INT" property="viewCount"/>
        <id column="like_count" jdbcType="INT" property="likeCount"/>
        <id column="tag" jdbcType="VARCHAR" property="tag"/>
    </resultMap>

<!--    行不通-->
    <!-- 自定义查询方法 -->
    <select id="selectByPage" resultMap="com.laodu.community.entity.Question">
        SELECT * FROM QUESTION
    </select>
</mapper>